################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Xamarin Xaml Code/.vs/Xamarin Xaml Code/v16/Server/sqlite3/db.lock
